<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=localhost;uid=accelerateUtrmg;pwd=&quot;[g];xo%1b]PA&quot;;Database=accelerate-mktg" name="accelerate-mktg" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="WordPress: http://localhost:18303" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
